<!-- <nav class="orange accent-4" role="navigation">
<div class="nav-wrapper container">

    <span class="center local-dto">P.A</span>
    <a href="index.html" class="left m16-dto"><i class="material-icons">navigate_before</i></a>
    <a href="login.html" class="right m16-dto exit-dto"><i class="material-icons">exit_to_app</i><span>Sair</span></a>

</div>
</nav> -->


<section>
    <div class="row">
        <div class="input-field col s6 m6 mb-0-dto">
            <select>
            <option value="" disabled selected>Unidade</option>
            <option value="1">Opção 1</option>
            <option value="2">Opção 2</option>
            <option value="3">Opção 3</option>
            </select>
        </div>
        
        <div class="input-field col s6 m6">
            <select>
            <option value="" disabled selected>Tipo</option>
            <option value="1">Opção 1</option>
            <option value="2">Opção 2</option>
            <option value="3">Opção 3</option>
            </select>
        </div>

        <div class="col">


            <div class="card-panel left-align">

            <div class="row">
                <div class="input-field col s12 mb-0-dto">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Descreva a Não Conformidade</label>
                </div>
                <div class="input-field col s12 mb-0-dto">
                <i class="prefix mdi mdi-plus-circle-outline"></i>
                <textarea id="icon_prefix" class="materialize-textarea validate"></textarea>
                <label for="icon_prefix">Descreva o P.A</label>
                </div>
                <div class="input-field col s12 mb-0-dto">
                <i class="prefix mdi mdi-calendar"></i>
                <input id="data" type="text" class="validate">
                <label for="data">Data de Execução</label>
                </div>
                <div class="input-field col s12">
                <input id="r" type="tel" class="validate">
                <label for="r">Responsável</label>
                </div>
                <div class="col center-align w-100">
                <br>
                <a class="waves-effect waves-light btn white grey-text text-darken-4 button-dto">
                    <i class="mdi mdi-checkbox-marked-circle-outline orange-text text-accent-4"></i>
                    Finalizar <br>
                    plano de ação
                </a>
                </div>
            </div>

            </div>

        </div>
    </div>
</section>