
<section class="listagem-padrao" id="listagem_colaboradores">    
    <div class="row">
		<div class="col col-sm-12 col-12 card-panel left-align">
            <div class="loadertablePage" id="mainLoadertable">
				<div class="loadertablePageLeft"></div>
				<div class="loadertablePageRight"></div>
				<div class="loadertable"></div>
             </div>

			<div class="linhas"> </div>
		</div>
    </div>
    <div class="row">
        <div class="info"></div>
    </div>
</section>


<script>
    $(document).ready(function() {
        var servicoColaborador = new app.ServicoColaborador();
        var crltColaborador = new app.ControladoraListagemColaborador(servicoColaborador);

        crltColaborador.configurar();
    });
</script>
