<section id="painel_formulario">
	<div class="row">
		<div class="col-md-12 col-12 col-sm-12 col-lg-12">
			<section id="msg" class="card-panel left-align text-danger msg d-none  desabilitado"></section>

			<div class="card-panel left-align">
				<div class="row">
					<div class="col-12  col-sm-12 col-md-12 col-lg-12">
						<form class="form-horizontal "  method="post" id="colaborador_form">
							<input type="hidden" id="id" name ="id" />
						
							<div class="row form-row">
								<div class="col col-md-12 col-12 col-sm-12 col-lg-12 mb-0-dto">
									<div class="input-field">
										<img src="/assets/images/avatar-padrao.png" class="avatar"></img>
										<input type="file" class="d-none form-control arquivos_imagem tamanhoArquivosPadrao" id="avatar"  id="name" accept="image/*" > 
									</div>
								</div>
							</div>

							<div class="row form-row">
								<div class="col col-md-6 col-12 col-sm-12 col-lg-6">
									<div class="input-field">
										<input type="text" class="form-control" id ="nome" name="nome"/>
										<label for="nome">*Nome: </label>
									</div>
								</div>

								<div class="col col-md-6 col-12 col-sm-12 col-lg-6 ">
									<div class="input-field">
										<input type="text" class="form-control" id="sobrenome" name="sobrenome"/>
										<label for="sobrenome">*Sobrenome</label>
									</div>
								</div>
							</div>

							<div class="row form-row">
								<div class="col-md-12 col-12 col-sm-12 col-lg-12">
									<div class="input-field">
										<input type="email" class="form-control email_formato campo_obrigatorio" id="email" name="email"/>
										<label for="email">*E-mail</label>
									</div>
								</div>
							</div>

							<div class="row form-row">
								<div class="col-md-6 col-12 col-sm-12 col-lg-6 ">
									<div class=" input-field">
										<select id ="setor"  name="setor" class="select campo_obrigatorio" ><option value="" disabled selected>Setor</option></select>
										<label for="setor">*Setor</label>
									</div>
								</div>

								<div class="col-md-6 col-12 col-sm-12 col-lg-6 ">
									<div class=" input-field">
										<select id ="lojas"  name="lojas[]" class="select campo_obrigatorio" multiple><option value="" disabled selected>Lojas</option></select>
										<label for="loajs">*Lojas</label>
									</div>
								</div>
							</div>

							<div class="row form row">
								<div class="col-md-12 col-12 col-sm-12 col-lg-12">
									<div class="input-field">
										<input type="text" class="form-control"  id="login" name="login"></input>
										<label for="login">*Login</label>
									</div>
								</div>
							</div>

							<div class="row form-row">
								<div class="col-md-6 col-12 col-sm-12 col-lg-6">
									<div class="input-field">
										<input type="password" id="senha" name="senha" class="form-control" />
										<label for="senha">*Senha:</label>
									</div>
								</div>

				
								<div class="col-md-6 col-12 col-sm-12 col-lg-6">
									<div class="input-field">
										<input type="password" id="confirmacao_senha" name="confirmacao_senha" class="form-control"/>
										<label for="confirmacao_senha">*Confirmacão de Senha:</label>
									</div>
								</div>
							</div>

							<div  class="row form-row d-none">
								<div class="col-xs-12  col-sm-12 col-md-12 col-12">
									<br /><div id="msg" class="text-danger msg" ></div>
								</div>
							</div>
								

							<div class="row form-row" id="botoes">			
								<div class="col col-md-3 col-3 col-sm-3 col-lg-3">
									<button class="waves-effect waves-light btn white grey-text text-darken-4 button-dto f-12-dto colaboradores_link">
										<i class="mdi mdi-close-circle-outline yellow-text text-accent-4"></i>
										Cancelar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>


<script>
    $(document).ready(function() {
        var servicoGrupoDeUsuario = new app.ServicoGrupoUsuario();
        var crltGrupoDeUsuario = new app.ControladoraFormGrupoDeUsuario(servicoGrupoDeUsuario);
        crltGrupoDeUsuario.configurar();
    });
</script>
