<section id="painel_formulario">
   <div class="row">
		<div class="col-md-12 col-12 col-sm-12 col-lg-12">
			<section id="msg" class="card-panel left-align text-danger msg d-none  desabilitado"></section>

			<div class="card-panel left-align">
				<div class="row">
					<div class="col-12  col-sm-12 col-md-12 col-lg-12">
						<form class="form-horizontal "  method="post" id="loja_form">
							<input type="hidden" id="id" name ="id" />
		
							<div class="row form-row">
								<div class="col col-md-12 col-12 col-sm-12 col-lg-12">
									<div class="input-field">
										<input type="text" class="form-control validate " id ="razao_social" name="razao_social"/>
										<label for="razao_social">*Razão Social: </label>
									</div>
									
								</div>
                            </div>
                            
                            <div class="row form-row">
                                <div class="col col-md-12 col-12 col-sm-12 col-lg-12 ">
                                    <div class="input-field">
                                        <input type="text" class="form-control validate" id="nome_fantasia" name="nome_fantasia"/>
                                        <label for="nome_fantasia">*Nome Fantasia</label>
                                    </div>
                                </div>    
							</div>
							
							<section id="secao_endereco" class="opcao-selecionada">
								<span class="card-title"><h5>Endereço</h5></span>

								<div class="divisor-secao"></div>

								<div class="row form-row">
									<div class="col col-md-12 col-12 col-sm-12 col-lg-12">
										<div class="input-field">
											<input id="cep" name="cep" type="text" class="validate form-control endereco-cep">
											<label for="cep">CEP</label>
										</div>
									</div>
								</div>

								<div class="row form-row">
									<div class="col col-md-9 col-12 col-sm-9 col-lg-6">
										<div class="input-field">
											<input id="endereco" name="endereco" type="text" class="validate form-control endereco-logradouro">
											<label for="endereco">Endereço</label>
										</div>
									</div>

									<div class="col col-md-3 col-2 col-sm-3 col-lg-6">
										<div class="input-field">
											<input id="numero" name="numero" type="text" class="validate form-control endereco-numero">
											<label for="numero">Nº</label>
										</div>
									</div>

									<div class="col col-md-12 col-10 col-sm-12 col-lg-12">
										<div class="input-field">
											<input id="complemento" name="complemento" type="text" class="validate form-control endereco-complemento">
											<label for="complemento">Complemento</label>
										</div>
									</div>
								</div>

								<div class="row form-row">
									<div class="col col-md-5 col-12 col-sm-5 col-lg-5">
										<div class="input-field">
											<input id="bairro" name="bairro" type="text" class="validate form-control endereco-bairro">
											<label for="bairro">Bairro</label>
										</div>
									</div>

									<div class="col col-md-4 col-10 col-sm-4 col-lg-4">
										<div class="input-field">
											<label for="cidade">Cidade</label>
											<input id="cidade" name="cidade" type="text" class="validate form-control endereco-cidade">
										</div>
									</div>
									
									<div class="col col-md-2 col-2 col-sm-2 col-lg-2">
										<label for="estado">Estado</label>
										<span id="estado" class="validate form-control endereco-estado"></span>
									</div>
								</div>
							</section>
						
							<div class="row form-row" id="botoes">			
								<div class="col col-md-3 col-3 col-sm-3 col-lg-3">
									<button class="waves-effect waves-light btn white grey-text text-darken-4 button-dto f-12-dto setor_link">
										<i class="mdi mdi-close-circle-outline yellow-text text-accent-4"></i>
										Cancelar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>


<script>
    $(document).ready(function() {
        var servicoLoja = new app.ServicoLoja();
        var crltLoja = new app.ControladoraFormLoja(servicoLoja);
        crltLoja.configurar();
    });
</script>
