
<section id="painel_formulario">
    <section id="painel_formulario">
        
        <div class="col-12  col-sm-12 col-md-12 col-lg-12">
            <section id="msg" class="card-panel left-align text-danger msg d-none  desabilitado"></section>

            <div class="card-panel left-align">
                <form class="form-horizontal"  method="post" id="pendencia_form">
                    <span class="card-title"></span>
                    
                    <div class="divisor-secao"></div>
                    <input type="hidden" id="id" name ="id" />

                    <div class="row form-row">
                        <div class="col col-sm-12 col-md-12 col-12 col-lg-12">
                            <div class="input-field ">
                                <textarea id="nao-conformidade" class=" campo_obrigatorio materialize-textarea"></textarea>
                                <label for="nao-conformidade">Descreva a Não Conformidade</label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col col-sm-12 col-md-12 col-12 col-lg-12">
                            <div class="input-field ">
                                <textarea id="descricao" class=" campo_obrigatorio materialize-textarea validate"></textarea>
                                <label for="descricao">Descreva a Pendência</label>												
                            </div>
                        </div>
                    </div>
                        
                    <div class="row form-row">
                        <div class="col col-md-6 col-12 col-sm-6 col-lg-6">
                            <div class="input-field">
                                <i class="prefix mdi mdi-calendar"></i>
                                <input id="data_limite" type="text" class=" campo_obrigatorio validate form-control data-picker">
                                <label for="data_limite">Descreva o Solução para Pendência</label>
                            </div>
                            <div class="date-panel"></div>
                        </div>

                        <div class="col col-md-6 col-12 col-sm-6 col-lg-6">
                            <div class="input-field">
                                <i class="prefix mdi mdi-av-timer"></i>
                                <input id="hora_limite" type="text" class="campo_obrigatorio validate form-control hora-picker">
                                <label for="hora_limite">Hora limite para Execução</label>
                            </div>
                            <div class="time-panel"></div>
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col col-md-6 col-12 col-sm-12 col-lg-6 ">
                            <div class=" input-field">
                                <select id ="responsavel"  name="responsavel" class="campo_obrigatorio select campo_obrigatorio" ><option value="" disabled selected>Responsável</option></select>
                                <label for="responsavel">*Responsável</label>
                            </div>
                        </div>

                        <div class="col col-md-6 col-12 col-sm-12 col-lg-6 ">
                            <div class=" input-field">
                                <select id ="unidade"  name="unidade" class="select campo_obrigatorio"><option value="" disabled selected>Unidade</option></select>
                                <label for="unidade">*Unidade</label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-row" id="botoes">			
                        <div class="col col-md-2 col-4 col-sm-2 col-lg-2">
                            <button class="waves-effect waves-light btn white grey-text text-darken-4 button-dto f-12-dto checklist_link">
                                <i class="mdi mdi-close-circle-outline yellow-text text-accent-4"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>  			

<script>
    $(document).ready(function() {
        window.mostrarTelaDeCarregamento();
        var servicoPendencia = new app.ServicoPendencia();
        var crltPendencia = new app.ControladoraFormPendencia(servicoPendencia);
        crltPendencia.configurar();
    }).promise().done(window.tirarTelaDeCarregamento);
</script>
