<section id="painel_formulario">
	<div class="row">
		<div class="col-md-12 col-12 col-sm-12 col-lg-12">
			<section id="msg" class="card-panel left-align text-danger msg d-none  desabilitado"></section>

			<div class="card-panel left-align">
				<div class="row">
					<div class="col-12  col-sm-12 col-md-12 col-lg-12">
						<form class="form-horizontal "  method="post" id="grupousuario_form">
							<input type="hidden" id="id" name ="id" />
							<div class="row form-row">
								<div class="col col-md-12 col-12 col-sm-12 col-lg-12">
									<div class="input-field">
										<input type="text" class="form-control" id ="nome" name="nome"/>
										<label for="nome">*Nome: </label>
									</div>
								</div>
                            </div>

                            <div class="row form-row">
								<div class="col col-md-12 col-12 col-sm-12 col-lg-12">
									<div class="input-field">
                                        <textarea class=" materialize-textarea validate" id="descricao" name="descricao" rows="5"></textarea>
										<label for="descricao">*Descrição: </label>
									</div>
								</div>
                            </div>
                            
                            <div class="row form-row">
								<div class="col col-md-12 col-12 col-sm-12 col-lg-12">
									<div class="input-field">
                                        <select id ="usuarios"  name="usuarios[]" class="select" multiple><option value="" disabled selected>usuarios</option></select>
										<label for="usuarios">*Usuários: </label>
									</div>
								</div>
                            </div>

							<div class="row form-row" id="botoes">			
								<div class="col col-md-3 col-3 col-sm-3 col-lg-3">
									<button class="waves-effect waves-light btn white grey-text text-darken-4 button-dto f-12-dto grupousuario_link">
										<i class="mdi mdi-close-circle-outline yellow-text text-accent-4"></i>
										Cancelar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>

<script>
    $(document).ready(function() {
        var servicoGrupoDeUsuario = new app.ServicoGrupoUsuario();
        var crltGrupoDeUsuario = new app.ControladoraFormGrupoDeUsuario(servicoGrupoDeUsuario);
        crltGrupoDeUsuario.configurar();
    });
</script>
