<div id="menu_principal">
   <div class="row row-dto">
      <div class="col col-md-3 col-lg-2 col-sm-3 col-4">
         <div class="card-panel center-align">
            <a href="#/" class="checklist_link">
               <i class=" small mdi mdi-clipboard-check light-blue-text text-darken-4"></i>
               <div class="grey-text text-darken-4">
                  CHECKLIST
               </div>
            </a>
         </div>
      </div>

      <div class="col col-md-3 col-lg-2 col-sm-3 col-4">
         <div class="card-panel center-align">
            <a href="#/" class="pa_link">
               <i class=" small mdi mdi-bullseye-arrow purple-text"></i>
               <div class="grey-text text-darken-4">
                  Plano de Ação
               </div>
            </a>
         </div>
      </div>

      <div class="col col-md-3 col-lg-2 col-sm-3 col-4">
         <div class="card-panel center-align">
            <a href="#/" class="pendencia_link">
               <i class=" small mdi mdi-clipboard-alert-outline light-green-text text-accent-3"></i>
               <div class="grey-text text-darken-4">
                  Pêndencias
               </div>
            </a>
         </div>
      </div>

      <div class="col col-md-3 col-lg-2 col-sm-3 col-4">
         <div class="card-panel center-align">
            <a href="#/" class="inteligencia_link">
               <i class=" small mdi mdi-podcast cyan-text text-lighten-2"></i>
               <div class="grey-text text-darken-4">
                  Inteligência de mercado
               </div>
            </a>
         </div>
      </div>

      <div class="col col-md-3 col-lg-2 col-sm-3 col-4">
         <div class="card-panel center-align ">
            <a href="#/" class="p-relative notificacao_link">
               <div class="col col-12">
                  <i class=" small mdi mdi-bell-ring-outline purple-text"></i>
                  <div class="quantidade-dto white-text deep-orange darken-1 contador-dto">23</div>
               </div>

               <div class="grey-text text-darken-4">
                  Notificações
               </div>
            </a>
         </div>
      </div>

      <div class="col col-md-3 col-lg-2 col-sm-3 col-4">
         <div class="card-panel center-align">
            <a href="#/" class="rd_link">
               <i class=" small mdi mdi-medal orange-text"></i>
               <div class="grey-text text-darken-4">
                  R&D de Talentos
               </div>
            </a>
         </div>
      </div>

      <div class="col col-md-3 col-lg-2 col-sm-3 col-4">
         <div class="card-panel center-align">
            <a href="#/" class="configuracao_link">
               <i class=" small mdi mdi-settings brown-text text-darken-2"></i>
               <div class="grey-text text-darken-4">
                  Configurações
               </div>
            </a>
         </div>
      </div>
   </div>
</div>

<section class="listagem-padrao" id="minhas_atvidades">
   <div class="row">
      <div class="col col-sm-12 col-12 card-panel left-align timeline">
         <div class="linhas fadeIn"></div>
      </div>
   </div>

   <div class="row">
      <div class="info col-md-12 col-12 col-sm-12 col-lg-12"></div>
   </div>
</section>

<script>
   $(document).ready(function () {
      var servicoChecklist = new app.ServicoChecklist();
      var crltChecklist = new app.ControladoraListagemChecklistAtividades(servicoChecklist);

      crltChecklist.configurar();
   });
</script>