
<div class="section">
  <div class="row row-dto">
	<div class="col col-md-3 col-lg-2 col-sm-3 col-4">
		<div class="card-panel center-align">
		   <a href="#/" class="dashboard_link">
			  <i class="mdi mdi-monitor-dashboard medium orange-text text-accent-4"></i>
			  <div class="grey-text text-darken-4 f-12-dto">
				Dashboard
			  </div>
		   </a>
		</div>
	 </div>
		<!-- <a href="facebook.com" class="col m4 l3 s6">
			<div class="card-panel center-align">
				<i class="mdi mdi-clipboard-alert-outline medium purple-text"></i>
				<div class="grey-text text-darken-4 f-12-dto">
				Pesquisas
				</div>
			</div>
		</a> -->
  </div>
</div>