<section class="container login">
	<section class="logo">
		<div class="row">
			<div class="col col-sm-8 offset-2 offset-sm-4 col-md-6 offset-m3 col-lg-4 offset-lg-3">
				<img class="responsive-img" style="width: 250px;" src="../assets/images/logo.png" />
			</div>
		</div>
	</section>

	<section class="login">		
		<form class="col col-sm-8 col-lg-6 col-md-8 offset-lg-3 offset-md-3 offset-sm-3" accept-charset="UTF-8" role="form" id="form_login" name="form_login" method="post">
			<div class="row">
				<div class="col col-12 col-md-12 col-sm-12 col-lg-12">
					<div class="input-field">
						<i class="prefix mdi mdi-account-circle"></i>
						<input class="validate" type="text" name="login" id="login" />
						<label for="login">Login</label>
					</div>
					
					<div class="input-field">
						<i class="prefix mdi mdi-lock"></i>
						<input class="validate" type="password" name="password" id="senha" name="senha"/>
						<label for="password">Senha</label>
					</div>
					
					<label style="float: right;">
						<a class="orange-text text-accent-4" href="#!"><b>Esqueci minha senha</b></a>
					</label>
				</div>
			</div>

			<section id="msg" class="card-panel left-align text-danger msg d-none  desabilitado"></section>


			<div class="row">
				<div class="col col-12 com-md-12 col-lg-12 col-sm-12 d-flex justify-content-start">
					<button type ="submit" class="btn btn-sm col-12 waves-effect yellow accent-3 grey-text text-darken-4" id="entrar">Entrar</button>
				</div>
			</div>
		</form>
	</div>		
</section>

		
<script>
	$(document).ready(function() {
		window.mostrarTelaDeCarregamento();
		var servicoLogin = new app.ServicoLogin();
		var crltLogin = new app.ControladoraFormLogin(servicoLogin);
		crltLogin.configurar();  
    }).promise().done(window.tirarTelaDeCarregamento);
</script>
	
	  