<section>
	<div class="row">
		<div class="col col-sm-12 col-12 card-panel left-align">

			<div class="row agenda-dto valign-wrapper">
				<div class="col col-1 col-md-2 col-sm-3">
					<p class="dia">Ter</p>
					<p class="data">01/05</p>
				</div>
				<div class="col col-11 col-md-10 col-sm-9">
					<p><i class="mdi mdi-map-marker-radius orange-text text-accent-4"></i> <strong>Matriz</strong> Centro - Nova Friburgo</p>
					<p><i class="mdi mdi-clipboard-check orange-text text-accent-4"></i> <strong class="orange-text text-accent-4">Checklist de Organização</strong></p>
					<p class="exc"><i class="mdi mdi-calendar-clock orange-text text-accent-4"></i> <strong>260 dias de atraso</strong></p>
				</div>
			</div>

			<div class="row agenda-dto valign-wrapper vermelho">
					<div class="col col-1 col-md-2 col-sm-3">
							<p class="dia">Ter</p>
					<p class="data">01/05</p>
				</div>
				<div class="col col-11 col-md-10 col-sm-9">
						<p><i class="mdi mdi-map-marker-radius orange-text text-accent-4"></i> <strong>Matriz</strong> Centro - Nova Friburgo</p>
					<p><i class="mdi mdi-clipboard-check orange-text text-accent-4"></i> <strong class="orange-text text-accent-4">Checklist de Organização</strong></p>
					<p class="exc"><i class="mdi mdi-calendar-clock orange-text text-accent-4"></i> <strong>26 dias</strong></p>
				</div>
			</div>

			<div class="row agenda-dto valign-wrapper">
					<div class="col col-1 col-md-2 col-sm-3">
							<p class="dia">Ter</p>
					<p class="data">01/05</p>
				</div>
				<div class="col col-11 col-md-10 col-sm-9">
					<p><i class="mdi mdi-map-marker-radius orange-text text-accent-4"></i> <strong>Matriz</strong> Centro - Nova Friburgo</p>
					<p><i class="mdi mdi-clipboard-check orange-text text-accent-4"></i> <strong class="orange-text text-accent-4">Checklist de Organização</strong></p>
					<p class="exc"><i class="mdi mdi-calendar-clock orange-text text-accent-4"></i> <strong>260 dias de atraso</strong></p>
				</div>
			</div>
		</div>
	</div>
</section>