
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Rezende</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
  <link href="assets/styles/materialdesignicons.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link href="assets/styles/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="assets/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="grey lighten-4">
  <nav class="orange accent-4" role="navigation">
    <div class="nav-wrapper container">

      <span class="center local-dto">Plano de Ação</span>
      <a href="index.html" class="left m16-dto"><i class="material-icons">navigate_before</i></a>
      <a href="login.html" class="right m16-dto exit-dto"><i class="material-icons">exit_to_app</i><span>Sair</span></a>

    </div>
  </nav>


  <div class="container">
    <div class="section">

      <div class="row mb-0-dto">
        <div class="col">
          <h6 class="fw-700-dto mb-0-dto">Braulio Damaceno Silva</h6>
          <p class="mt-0-dto">Logística</p>
        </div>
      </div>

      <div class="row">

        <div class="col s12">

          <div class="card-panel left-align">

            <div class="row mb-0-dto">

              <div class="col s12">
                <h6 class="fw-700-dto mb-0-dto orange-text text-accent-4">TAREFA</h6>
                <p class="mt-0-dto">Checklist de organização de loja.</p>

                <h6 class="fw-700-dto mb-0-dto orange-text text-accent-4">QUESTÃO COM PROBLEMA</h6>
                <p class="mt-0-dto">Organização de loja.</p>

                <h6 class="fw-700-dto mb-0-dto orange-text text-accent-4">PLANO DE AÇÃO</h6>
                <p class="mt-0-dto">
                  <strong class="fw-700-dto">Descrição:</strong>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita porro unde voluptates deleniti, culpa ratione.
                </p>

                <h6 class="fw-700-dto mb-0-dto orange-text text-accent-4">DATA LIMITE</h6>
                <p class="mt-0-dto">
                  26/09/2019
                </p>
              </div>

            </div>

          </div>


          <div class="card-panel left-align">

            <div class="row">
              <div class="input-field col s12 mb-0-dto">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Insira detalhes da execução</label>
              </div>

              <div class="col s12">
                <div class="row center-align mb-0-dto ">
                  <div class="col s4 m2 igs">
                    <a class="orange accent-4 subicon-dto mb-0-dto">
                      <i class="mdi mdi-microphone white-text"></i>
                    </a>
                  </div>
                  <div class="col s4 m2 igs">
                    <a class="orange accent-4 subicon-dto mb-0-dto">
                      <i class="mdi mdi-camera-outline white-text"></i>
                    </a>
                  </div>
                </div>
              </div>


              <div class="input-field col s12 mb-0-dto">
                <i class="prefix mdi mdi-calendar"></i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Data de execução</label>
              </div>
              <div class="col center-align w-100">
                <br>
                <a class="waves-effect waves-light btn white grey-text text-darken-4 button-dto">
                  <i class="mdi mdi-checkbox-marked-circle-outline orange-text text-accent-4"></i>
                  Finalizar <br>
                  plano de ação
                </a>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/init.js"></script>

  </body>
</html>
