<section class="listagem-padrao" id="pendencia">    
  <div class="row">
    <div class="col col-sm-12 col-12 card-panel left-align">
      <div class="loadertablePage" id="mainLoadertable">
				<div class="loadertablePageLeft"></div>
				<div class="loadertablePageRight"></div>
				<div class="loadertable"></div>
         </div>
      <div class="linhas"> </div>
    </div>
  </div>
  <div class="row">
    <div class="info col-md-12 col-12 col-sm-12 col-lg-12"></div>
  </div>
</section>


<div class="modal fade" id="pendenciaModal" tabindex="-1" role="dialog" aria-labelledby="pendenciaModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Anexos</h5>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 col-12">
							<div class="upload-drop-zone" id="drop-zone">

							</div>
					</div>
				</div>
							
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
  var servicoPendencia = new app.ServicoPendencia();
  var crltPendencia = new app.ControladoraListagemPendencia(servicoPendencia);

  crltPendencia.configurar();
});
</script> 
