
<section class="listagem-padrao" id="setor">    
        <div class="row">
            <div class="col col-sm-12 col-12 card-panel left-align">
                <div class="loadertablePage" id="mainLoadertable">
                    <div class="loadertablePageLeft"></div>
                    <div class="loadertablePageRight"></div>
                    <div class="loadertable"></div>
                </div>

                <div class="linhas"> </div>
            </div>
        </div>
        <div class="row">
            <div class="info col-md-12 col-12 col-sm-12 col-lg-12"></div>
        </div>
</section>

<script>
    $(document).ready(function() {
        var servicoSetor = new app.ServicoSetor();
        var crltSetor = new app.ControladoraListagemSetor(servicoSetor);

        crltSetor.configurar();
    });
</script> 
    