html, body {
    background-color: #fff !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    font-size: 12px !important;
}
.bootstrap-dialog.size-large .bootstrap-dialog-title{
    font-size: 16px !important;
}
.bootstrap-dialog.size-large .bootstrap-dialog-message{
    font-size: 12px;
}

a {transition: all 0.3s ease 0s;text-decoration:none;}


a {
    background-color: transparent;
}

 nav :not(.active) {
    color: #191a1b !important;
}
nav :not(.active) .rezende-icon {
    color: #191a1b;
}

.nav-tabs {
    border-bottom: 0px !important;
}

ol, ul {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

.header-top-area, .footer-copyright-area {
    background:#00a99e;
    padding: 0px !important
}

.footer-copyright-area {
    margin-top: 40px;
}

.logo-area {
    padding: 4px !important;
}

.logo-area img{
	height: 2.3em !important;
	width: auto !important;
}

#app .card{
    border: 0px !important;
    padding: 0px !important;
}

#app .card-body{
    border:  1px solid #c3b9b9 !important;
}
 .navbar{
    font-size: 14px;
    align-items: flex-end !important;
 }

 i.rezende-icon{
    padding: 5px !important; 
 }

@media print {
    .container {
        width: auto;
    }
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0px !important;  
}

/*----------------------------------------*/
/*  3.  Main Menu CSS
/*----------------------------------------*/
.nav-tabs.notika-menu-wrap{
	border-bottom: 0px solid #ddd;
}
.nav-tabs.notika-menu-wrap>li.active>a, .nav-tabs.notika-menu-wrap>li.active>a:focus, .nav-tabs.notika-menu-wrap>li.active>a:hover{
	border: 0px solid #ddd;
	border:none;
}
.notika-tab-menu-bg{
	position:relative;
}
.notika-tab-menu-bg:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    content: "";
    z-index: 9;
    height: 100%;
}
.custom-menu-content ul.notika-main-menu-dropdown {
    position: relative;
    z-index: 99;
    margin-bottom: 0px !important;
    margin-left: 16em;
}

.opcoes_modulos button{
    margin: 3px !important;
}
ul.notika-menu-wrap li a{
	font-size: 15px;
    color: #333;
    padding: 15px 25px;
	border:none;
}
.custom-menu-content ul.notika-main-menu-dropdown li{
	display:inline-block;
}
.custom-menu-content ul.notika-main-menu-dropdown li a {
    padding: 10px 15px;
    display: block;
	font-size:14px;
	color:#333;
}
.custom-menu-content ul.notika-main-menu-dropdown li ul.layout-more-dp{
	position: absolute;
    z-index: 999;
    width: 200px;
    left: -20px;
    border: none;
    border-radius: 0px;
}
.custom-menu-content ul.notika-main-menu-dropdown li ul.layout-more-dp li a{
	font-size: 14px;
    color: #333;
    padding: 10px 20px;
}
.animated{
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:none!important;
	animation-fill-mode:none!important
}
.mg-t-80-b-40{
	margin:102px 0px 40px 0px;
}
.box-layout .header-top-area {
		width: 1200px;
}
/* Vesão modificada */

.nav-tabs.rezende-menu-wrap {
    border-bottom: 0px solid #ddd;
}

ul.rezende-menu-wrap li a {
    font-size: 15px;
    color: #333;
    padding: 15px 25px;
    border: none;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    /* padding: 0px 15em; */
}

.menu-it-icon-pro i {
    font-size: 18px;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

/*----------------------------------------*/
/*  58. Notika Icon CSS
/*----------------------------------------*/
.notika-icon-pro a{
	text-align: center;
    background: #F6F8FA;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 5px 5px;
}
.notika-icon-pro i{
	font-size:25px;
	color:#333;
	position: relative;
    top: 2px;
}

/*----------------------------------------*/
/*  59. Notika custom scrollbar CSS
/*----------------------------------------*/
.mCS-light-1.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #00c292; }
.mCS-light-1.mCSB_scrollTools .mCSB_draggerRail{ background-color: #ccc; }


/*----------------------------------------*/
/*  42.  Menu Hover Layout CSS
/*----------------------------------------*/
.main-menu-lv-int{
	background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.main-menu-lv-int ul.main-menu-lv {
	text-align:center;
}
.main-menu-lv-int ul.main-menu-lv > li{
	display:inline-block;
	position:relative;
}
.main-menu-lv-int ul.main-menu-lv > li > a{
	padding: 20px 15px;
    display: inline-block;
    font-size: 16px;
    color: #333;
	transition:all .4s ease 0s;
}
.main-menu-lv-int ul.main-menu-lv > li i{
	margin-right:3px;
}
.main-menu-lv-int ul.main-menu-lv > li:hover > a{
    color: #00c292;
	transition:all .4s ease 0s;
}

.card-header:first-child{
    border-radius: 0px !important;
    padding-top : 5px;
    padding-bottom : 5px;
}
.main-menu-lv-int ul.main-menu-lv li ul.menu-dp-lt{
	position:absolute;
	top:100%;
	left:0px;
	width:200px;
	background: #fff;
    padding: 10px 15px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	z-index:9;
	opacity:0;
	visibility:hidden;
	transition:all .4s ease 0s;
	border-top:2px solid #00c292;
}
.main-menu-lv-int ul.main-menu-lv li:hover ul.menu-dp-lt{
	z-index:9;
	opacity:1;
	visibility:visible;
	transition:all .4s ease 0s;
}
.main-menu-lv-int ul.main-menu-lv li ul.menu-dp-lt li a{
	display:block;
	text-align:left;
	padding: 8px 0px;
	color:#333;
	transition:all .4s ease 0s;
}
.main-menu-lv-int ul.main-menu-lv li:hover ul.menu-dp-lt li a:hover{
	color:#00c292;
	transition:all .4s ease 0s;
}
.main-menu-lv-int ul.main-menu-lv li ul.menu-dp-lt li a:hover{
	color:#00c292;
	padding: 8px 5px;
	transition:all .4s ease 0s;
}
.main-menu-lv-int ul.main-menu-lv.effect-tran-mn li ul.menu-dp-lt{
	top:130%;
	transition:all .4s ease 0s;
}
.main-menu-lv-int ul.main-menu-lv.effect-tran-mn li:hover ul.menu-dp-lt{
	top:100%;
	transition:all .4s ease 0s;
}


/*----------------------------------------*/
/*  21.  tabs CSS
/*----------------------------------------*/
.tab-custom-st p, .wizard-hd p, .wizard-ctn p, .dropdown-trig-hd p, .modals-hd p, .contact-ctn p, .image-crp-img p, .cp-img-anal p{
	font-size:14px;
	color:#333;
	line-height:24px;
}
.tab-mg-b-0{
	margin-bottom:0px !important;
}
.nav-tabs.tab-nav-center{
	text-align:center;
}
.nav-tabs.tab-nav-right{
	text-align:right;
}
.nav-tabs.tab-nav-right>li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
}
.nav-tabs.tab-nav-center>li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
}
.tab-custom-st.tab-ctn-right p {
    text-align: right;
}

#app th {
	text-align: center !important;
}

#app td {
	text-align: center !important;
}

#painel_listagem, #painel_formulario {
    width:auto;
    margin-right: 80px !important;
    margin-left: 80px !important;
    margin-bottom: 10px;
}

.card-header{  
    margin-bottom: 20px !important;
}


#paiel_listagem .table{
    height: auto;
}

.dataTables_wrapper{
    font-size: 15px;
}

 .selected{
    background-color : #00a99e !important;
}


.page-item.active .page-link{
    color: #100e0e!important;
}

.page-link {
    color: #005dc0 !important;
}

.help-block{
    color: darkred;
}
.picker{
    z-index: 1000000 !important;
}

@media (min-height: 33.875em){
    .picker--opened .picker__frame {
        top: 10em !important;
    }
}


.bnt_campoextra{
    margin-top: 2rem !important;
    margin-left: 1rem  !important;

}

.element {
    display: inline-flex;
    align-items: center;
  }
 
.element i {
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
}

.element  i:hover {
    opacity: 0.6;
}

.element  input {
    display: none;
}

/* layout.css Style */
.upload-drop-zone {
    height: auto !important;
    border-width: 2px;
    margin-bottom: 20px;
    padding: 2em;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: auto !important;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.table{
    font-size: 12px;
    line-height: normal;
    font-weight: normal !important;
}

input, .select2-selection, .select2-results__option{
    height: 30px  !important;
}

.select2-results__option{
    padding: 2px !important;
}
textarea, input{
    margin-bottom: 5px !important;
}

div.dataTables_wrapper div.dataTables_filter input{
    height: 20px  !important;
    margin-bottom: 5px !important;   
}

input, label, select {
    font-size: 14px !important;
}
.dataTables_info, .dataTables_paginate{
    font-size: 12px;
}

button{
    font-size: 12px !important;
}

#msg{
    font-size: 14px;
}

.select2-selection {
    padding: 6px !important;
}

.download i{
    font-size:50px !important;
}

.table i{
    font-size: 16px !important;
}

@media only screen and (max-width: 600px) {
    #painel_listagem, #painel_formulario {
        width:auto;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding: 0px !important;
    }

    div.dataTables_wrapper div.dataTables_filter input{
        height: 25px  !important;
    }

    .card-body{
        padding: 1rem !important;
    }

    .fas{
        margin: 4px !important;
    }

   
}
label{
    margin-bottom: 0px;
    padding: 5px;    
}

.perguntas {
    margin-bottom: 5em;
}

select.custom-select.custom-select-sm.form-control.form-control-sm{
    height: 30px  !important;
}