#pagina_login .vertical-offset-100{
	padding-top: 100px;
}

#pagina_login input[type="text"]{
	margin-bottom: 1em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#pagina_login button{
	margin: 4em 0 0em 0;
}

#form_login {
	margin-top: 2em;
}

#pagina_login .logo-area {
    padding: 0px !important;
}

#pagina_login .logo-area img{
	height: 4em !important;
	width: auto !important;
}